
    // === Startup ===
spawn-at-startup		"dms" "run"
spawn-at-startup		"bash" "-c" "wl-paste --watch cliphist store &"
//spawn-at-startup 		"/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
spawn-at-startup		"/usr/lib/polkit-kde-authentication-agent-1"
spawn-at-startup		"/usr/lib/xdg-desktop-portal-kde"
spawn-at-startup		"nm-applet" "--indicator"
spawn-at-startup		"blueman-applet"
spawn-at-startup		"flameshot"

config-notification {
    disable-failed
}

binds {
    // === System & Overview ===
    Mod+X			repeat=false { toggle-overview; }
    Mod+MouseBack		repeat=false { toggle-overview; }
    Mod+Shift+Slash		{ show-hotkey-overlay; }
    Mod+A			hotkey-overlay-title="Open Browser: Zen" { spawn "zen-browser"; }
    Mod+E			hotkey-overlay-title="File Manager: Nautilus" { spawn "nautilus"; }
    Mod+W			hotkey-overlay-title="File Manager: Yazi" { spawn "ghostty" "-e" "yazi"; }
    Mod+Shift+Home		hotkey-overlay-title="Hide/Show Bar" { spawn "dms" "ipc" "call" "bar" "toggle"; }
    Mod+Shift+Insert		hotkey-overlay-title="LockScreen" { spawn "dms" "ipc" "call" "lock" "lock"; }

    // === Application Launchers ===
    Mod+Return			hotkey-overlay-title="Open Terminal" { spawn "ghostty"; }
    Mod+D			hotkey-overlay-title="Application Launcher" { spawn "dms" "ipc" "call" "spotlight" "toggle"; }
    Mod+V			hotkey-overlay-title="Clipboard Manager" { spawn "dms" "ipc" "call" "clipboard" "toggle"; }
    Mod+Comma			hotkey-overlay-title="Settings" { spawn "dms" "ipc" "call" "settings" "toggle"; }
    Mod+N			hotkey-overlay-title="Notifications History" { spawn "dms" "ipc" "call" "notifications" "toggle"; }
    Mod+M			hotkey-overlay-title="Task Manager" { spawn "missioncenter"; }

    // === Other Apps ===
    Mod+Shift+C			{ spawn "hyprpicker" "-a" "$(wl-paste)"; }
    //Mod+Ctrl+P			{ spawn "waypaper"; }
    Mod+Ctrl+P			{ spawn "dms" "ipc" "call" "dankdash" "wallpaper"; }

    // === Security ===
    Mod+Shift+P			{ quit; }

    // === Audio Controls ===
    XF86AudioRaiseVolume allow-when-locked=true { spawn "dms" "ipc" "call" "audio" "increment" "5"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "dms" "ipc" "call" "audio" "decrement" "5"; }
    XF86AudioMute allow-when-locked=true 	{ spawn "dms" "ipc" "call" "audio" "mute"; }
    XF86AudioPlay allow-when-locked=true	{ spawn "dms" "ipc" "call" "mpris" "playPause"; }
    XF86AudioNext allow-when-locked=true 	{ spawn "dms" "ipc" "call" "mpris" "next"; }
    XF86AudioPrev allow-when-locked=true 	{ spawn "dms" "ipc" "call" "mpris" "previous"; }
    XF86AudioStop allow-when-locked=true	{ spawn "dms" "ipc" "call" "mpris" "stop"; }

    // === Brightness Controls ===
    //XF86MonBrightnessUp allow-when-locked=true { spawn "dms" "ipc" "call" "brightness" "increment" "5" ""; }
    //XF86MonBrightnessDown allow-when-locked=true { spawn "dms" "ipc" "call" "brightness" "decrement" "5" ""; }
    XF86HomePage allow-when-locked=true { spawn "dms" "ipc" "call" "brightness" "increment" "5" ""; }
    XF86Mail allow-when-locked=true { spawn "dms" "ipc" "call" "brightness" "decrement" "5" ""; }
 

    // === Window Management ===
    Mod+Shift+Q			repeat=false { close-window; }
    Mod+Shift+Space		{ toggle-window-floating; }
    Mod+MouseForward		{ toggle-window-floating; }
    Mod+Shift+F			{ fullscreen-window; }
    
    //=== Focus Navigation ===
    Mod+Left			{ focus-column-left; }
    Mod+Down			{ focus-window-down; }
    Mod+Up			{ focus-window-up; }
    Mod+Right			{ focus-column-right; }
    Mod+H			{ focus-column-left; }
    Mod+J			{ focus-window-down; }
    Mod+K			{ focus-window-up; }
    Mod+L			{ focus-column-right; }

    // === Window Movement ===
    Mod+Shift+Left		{ move-column-left; }
    Mod+Shift+Down 	        { move-window-down; }
    Mod+Shift+Up 	        { move-window-up; }
    Mod+Shift+Right		{ move-column-right; }
    Mod+Shift+H 	        { move-column-left; }
    Mod+Shift+J 	        { move-window-down; }
    Mod+Shift+K 	        { move-window-up; }
    Mod+Shift+L 	        { move-column-right; }

    // === Column Navigation ===
    Mod+Home 		        { focus-column-first; }
    Mod+End 		        { focus-column-last; }
    Mod+Ctrl+Home 	        { move-column-to-first; }
    Mod+Ctrl+End 	        { move-column-to-last; }

    // === Monitor Navigation ===
    Mod+Ctrl+Left		{ focus-monitor-left; }
    Mod+Ctrl+Right		{ focus-monitor-right; }
    //Mod+Shift+Up		{ focus-monitor-down; }
    //Mod+Shift+Right		{ focus-monitor-up; }
    Mod+Ctrl+H			{ focus-monitor-left; }
    Mod+Ctrl+J			{ focus-monitor-down; }
    Mod+Ctrl+K			{ focus-monitor-up; }
    Mod+Ctrl+L			{ focus-monitor-right; }

    // === Move to Monitor ===
    Mod+Shift+Ctrl+Left		{ move-column-to-monitor-left; }
    Mod+Shift+Ctrl+Down		{ move-column-to-monitor-down; }
    Mod+Shift+Ctrl+Up		{ move-column-to-monitor-up; }
    Mod+Shift+Ctrl+Right	{ move-column-to-monitor-right; }
    Mod+Shift+Ctrl+H		{ move-column-to-monitor-left; }
    Mod+Shift+Ctrl+J		{ move-column-to-monitor-down; }
    Mod+Shift+Ctrl+K		{ move-column-to-monitor-up; }
    Mod+Shift+Ctrl+L		{ move-column-to-monitor-right; }

    // === Workspace Navigation ===
    Mod+Tab			repeat=false { focus-workspace-previous; } 
    Mod+Page_Down		{ focus-workspace-down; }
    Mod+Page_Up			{ focus-workspace-up; }
    Mod+U			{ focus-workspace-down; }
    Mod+I			{ focus-workspace-up; }
    Mod+Ctrl+Down		{ move-column-to-workspace-down; }
    Mod+Ctrl+Up			{ move-column-to-workspace-up; }
    Mod+Ctrl+U			{ move-column-to-workspace-down; }
    Mod+Ctrl+I			{ move-column-to-workspace-up; }

    // === Move Workspaces ===
    Mod+Shift+Page_Down		{ move-workspace-down; }
    Mod+Shift+Page_Up		{ move-workspace-up; }
    Mod+Shift+U			{ move-workspace-down; }
    Mod+Shift+I			{ move-workspace-up; }

    // === Mouse Wheel Navigation ===
    Mod+WheelScrollDown 	{ focus-column-right; }
    Mod+WheelScrollUp 		{ focus-column-left; }
    Mod+Shift+WheelScrollDown	{ move-column-right; }
    Mod+Shift+WheelScrollUp	{ move-column-left; }

    // === Numbered Workspaces ===
    Mod+1			{ focus-workspace 1; }
    Mod+2			{ focus-workspace 2; }
    Mod+3			{ focus-workspace 3; }
    Mod+4			{ focus-workspace 4; }
    Mod+5			{ focus-workspace 5; }
    Mod+6			{ focus-workspace 6; }
    Mod+7			{ focus-workspace 7; }
    Mod+8			{ focus-workspace 8; }
    Mod+9			{ focus-workspace 9; } 

    // === Move to Numbered Workspaces ===
    Mod+Shift+1			{ move-column-to-workspace 1; }
    Mod+Shift+2			{ move-column-to-workspace 2; }
    Mod+Shift+3			{ move-column-to-workspace 3; }
    Mod+Shift+4			{ move-column-to-workspace 4; }
    Mod+Shift+5			{ move-column-to-workspace 5; }
    Mod+Shift+6			{ move-column-to-workspace 6; }
    Mod+Shift+7			{ move-column-to-workspace 7; }
    Mod+Shift+8			{ move-column-to-workspace 8; }
    Mod+Shift+9			{ move-column-to-workspace 9; }

    // === Sizing & Layout ===
    Mod+R			{ switch-preset-column-width; }
    Mod+Shift+R		        { switch-preset-window-height; }
    Mod+Ctrl+R			{ reset-window-height; }
    Mod+Ctrl+F			{ expand-column-to-available-width; }
    Mod+C			{ center-column; }
    Mod+Ctrl+C 		        { center-visible-columns; }
    Mod+F			{ maximize-column; }

    // === Manual Sizing ===
    Mod+Minus			{ set-column-width "-10%"; }
    Mod+Equal			{ set-column-width "+10%"; }
    Mod+Shift+Minus		{ set-window-height "-10%"; }
    Mod+Shift+Equal		{ set-window-height "+10%"; }

    // === Screenshots ===
    Ctrl+Print			{ screenshot; }
    Alt+Print			{ screenshot-window; }
    Mod+Shift+Print		{ spawn "flameshot" "gui"; }

}
	screenshot-path "~/Pictures/Screenshot/Screenshot %d-%m-%y %H-%M-%S.png"
	prefer-no-csd

environment {
	XCURSOR_THEME "Bibata-Modern-Classic"
	XCURSOR_SIZE "20"
	XDG_CURRENT_DESKTOP "niri"
	XDG_SESSION_TYPE "wayland"
	QT_QPA_PLATFORM "wayland"
	QT_QPA_PLATFORMTHEME "gtk3"
 	QT_QPA_PLATFORMTHEME_QT6 "gtk3"
	ELECTRON_OZONE_PLATFORM_HINT "wayland"
}

input {
    keyboard {
	xkb {
	layout "us,ru,ua"
	options "grp:alt_shift_toggle"
    }
	numlock
}
mouse {
	accel-speed -0.4
	accel-profile "flat"
}
touchpad {
	off
}

	focus-follows-mouse max-scroll-amount="0%"
}

cursor {
	xcursor-theme "Bibata-Modern-Classic"
	xcursor-size 20
}

output "DP-2" {
	mode "2560x1440@180.000"
	focus-at-startup
	variable-refresh-rate on-demand=true
}

output "HDMI-A-1" {
	mode "1920x1080@60"
	position x=2560 y=0
}

hotkey-overlay {
	skip-at-startup
}

layout {
	 blur {
        on
        passes 3
        radius 9.0
        noise 0.0
    }
	gaps 4
	//center-focused-column "on-overflow"
	//empty-workspace-above-first 
	always-center-single-column
 	background-color "transparent"


default-column-width {
	proportion 0.5
}

	focus-ring {
	off
    }

	preset-column-widths {
	proportion 0.33333
	proportion 0.5
	proportion 0.66667
	proportion 0.9
	proportion 1.0
    }

	preset-window-heights {
	proportion 0.33333
	proportion 0.5
	proportion 0.66667
    }
}

overview {
	backdrop-color "#1f1f1f"
	zoom 0.25
	workspace-shadow {
	//off
    }
}

gestures {
	hot-corners {
	off
    }
}

window-rule { 
	opacity 0.85
}

window-rule { 
	match app-id=r#"^gnome-calculator$"#
	match app-id=r#"^galculator$"#
	match app-id=r#"^blueman-manager$"#
	match app-id=r#"^org\.gnome\.Nautilus$"#
	match app-id=r#"^xdg-desktop-portal$"#
	match app-id=r#"^Throne$"#
	match app-id=r#"^zoom$"#
	open-floating true
}

window-rule {
	match app-id="firefox$" title="^Picture-in-Picture$"
	match app-id="zen$" title="^Picture-in-Picture$"
	open-floating true
}

window-rule {
	match app-id=r#"^Alacritty$"#
	match app-id=r#"^zen$"#
	match app-id=r#"^com.mitchellh.ghostty$"#
	match app-id=r#"^kitty$"#
	draw-border-with-background false
}

window-rule {
	match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
	default-floating-position x=10 y=10 relative-to="bottom-right"
	open-focused false
}

window-rule {
	match app-id="zen$" title="^Картинка в картинке$"
	open-floating true
	default-floating-position x=32 y=32 relative-to="top-right"
	//block-out-from "screen-capture"
	open-focused false
}

window-rule {
	match app-id=r#"^swaync-notification-window$"#
	open-focused false
	match is-focused=true
}

window-rule {
	match app-id=r#"^firefox$"#
	match app-id=r#"^zen$"#
	match app-id=r#"^discord$"#
	match app-id=r#"^steam$"#
	open-maximized true
}

window-rule {
	geometry-corner-radius 2
	clip-to-geometry true
}

window-rule {
	match app-id=r#"^hyprland-share-picker$"#
	open-floating true
	default-column-width { fixed 480; }
	default-window-height { fixed 270; }
}

layer-rule {
	match namespace="waybar"
	match at-startup=true
	opacity 0.999999
}

layer-rule {
	match namespace="swww-daemon"
	match namespace="mpvpaper"
	match namespace="^quickshell$"	
	match namespace="dms:blurwallpaper"
	match namespace="^quickshell-overview$"
	place-within-backdrop true
}

debug {
    honor-xdg-activation-with-invalid-serial
}

animations {
    slowdown 1.4

    workspace-switch {
        spring damping-ratio=1.15 stiffness=600 epsilon=0.0001
    }

    window-open {
        duration-ms 200
        curve "ease-out-cubic"
    }

    window-close {
        duration-ms 200
        curve "ease-out-quad"
    }

    horizontal-view-movement {
        spring damping-ratio=1.0 stiffness=600 epsilon=0.0001
    }

    window-movement {
        spring damping-ratio=1.15 stiffness=600 epsilon=0.0001
    }

    window-resize {
        spring damping-ratio=1.15 stiffness=600 epsilon=0.0001
    }

    config-notification-open-close {
        spring damping-ratio=0.85 stiffness=700 epsilon=0.001
    }

    screenshot-ui-open {
        duration-ms 170
        curve "ease-out-cubic"
    }

    overview-open-close {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }
}
